/* Resetowanie paddingu i marginesów */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #434343;
  background: #FFF;
}

/* Kontener dla treści głównej */
.container {
  width: 90%;
  max-width: 1050px;
  margin: 0 auto;
  flex: 1; /* Rozciąga kontener, aby wypełniał dostępne miejsce */
}

/* Style dla headera */
header {
  margin: 25px 0;
}

header img {
  width: 100%;
}

/* Style dla menu */
.menu-trigger {
  color: #000;
  background: #FFC000;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px;
  margin: 0 0 5px;
  cursor: pointer;
}

aside {
  float: left;
  margin: 0 0 25px;
}

#main {
  float: right;
  margin: 0 0 25px;
}
Footer {
  background-color: #010a13;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center; /* Centrowanie tekstu */
  color: #fff; /* Kolor tekstu na biały, aby kontrastował z ciemnym tłem */
}

Footer p {
  margin: 0; /* Usunięcie marginesów, aby tekst był wycentrowany idealnie */
}

/* Media queries */
@media (min-width: 800px) {
  aside {
      width: 30%;
  }
  #main {
      width: 65%;
  }
  .menu-trigger {
      display: none;
  }
  aside nav {
      display: block !important;
  }
  aside nav ul {
      list-style: none;
  }
  aside nav ul li {
      margin-bottom: 1px;
  }
  aside nav ul li a {
      display: block;
      text-decoration: none;
      color: #000;
      background: #FFC000;
      padding: 8px 20px;
  }
  aside nav ul li a:hover {
      background: #212121;
      color: #FFF;
  }
}

@media (max-width: 800px) {
  aside,
  #main {
      width: 100%;
  }
  .menu-trigger {
      display: block;
  }
  aside nav {
      display: none;
  }
  aside nav ul {
      list-style: none;
  }
  aside nav ul li {
      margin-bottom: 1px;
  }
  aside nav ul li a {
      display: block;
      font-size: 14px;
      font-weight: 700;
      text-decoration: none;
      color: #fff;
      background: #333;
      padding: 12px 20px;
  }
  aside nav ul li a:hover {
      background: #212121;
      color: #FFF;
  }
}

/* Styl dla obrazów w sliderach */
img {
  vertical-align: middle;
}

.mySlides {
  display: none;
}

/* Stylizacja tekstu w slajdach */
.text {
  color: #f2f2f2;
  font-size: 45px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Tło dla body */
.body {
  background-color: #717171;
}

/* Animacja fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from { opacity: .4; }
  to { opacity: 1; }
}

@keyframes fade {
  from { opacity: .4; }
  to { opacity: 1; }
}

/* Mniejsze ekrany */
@media only screen and (max-width: 300px) {
  .text {
      font-size: 11px;
  }
}
